.app_info_wrapper {
    position: absolute;
    top: 6vh;
    right: 2vw;
    max-height: 660px;
    overflow: hidden;    
    width: 25%;
    z-index: 2;
    border: 1px solid grey;
    border-radius: 1%;
    background: white;
}

.category_wrapper{
    margin-top: 2.5vw;   
    margin-bottom: 1.1vw; 
}


.category_wrapper li {
    display: inline-block;
    width: 10vw;        
    margin-right: 1vw; 
    margin-bottom: 1vw; 
    vertical-align: middle;
    color: DarkSlateBlue;
    font-size: 1.2vw;
}

.category_wrapper li:hover {
    color: CornflowerBlue;
}

.category_wrapper ul {
    text-align: center;
    padding-left: 2vw;
}

.people_list_wrapper {
    height: 60%;
    font-size: 1.1vw;
    overflow: auto;
    max-height: 120px;
}

.people_list_wrapper li {
    margin-top: 2vh;
    color: MidnightBlue;
}

.people_list_wrapper li:hover,
.favorite_list li:hover{
    color: SteelBlue;
}


.favorite_list {
    padding-top: 1vh;
    padding-bottom: 1vh;
    background: Moccasin;
    color: MidnightBlue;
    overflow: auto;
    max-height: 200px;    
}

.favorite_list_header {
    text-align: center;
    color: black;
}

