.app_info_wrapper {
    position: absolute;
    top: 6vh;
    right: 2vw;
    max-height: 650px;
    overflow: hidden;    
    width: 25%;
    z-index: 2;
    border: 1px solid grey;
    border-radius: 1%;
    background: white;
    padding-top: 2.5vw;
}

.people_list_wrapper {
    height: 60%;
    font-size: 1.1vw;
    overflow: auto;
    max-height: 120px;
}

.places_list_wrapper {
    height: 60%;
    font-size: 0.9vw;
    overflow: auto;
    max-height: 120px;
}

.people_list_wrapper li {
    margin-top: 2vh;
    color: MidnightBlue;
}

.places_list_wrapper li {
    margin-top: 0.5vh;
    color: MidnightBlue;
}

.people_list_wrapper li:hover,
.favorite_list li:hover,
.places_list_wrapper li:hover {
    color: SteelBlue;
}

.close_people_list {
    position: absolute;
    right: 0.2vw;
    top: 0.2vw;
}

.favorite_list {
    padding-top: 1vh;
    padding-bottom: 1vh;
    background: Moccasin;
    color: MidnightBlue;
    overflow: auto;
    max-height: 200px;    
}

.favorite_list_header {
    text-align: center;
    color: black;
}

