.links_main_page {
    text-align: right;  
    position: absolute;
    top: 0;
    right: 1%;
}

.links_wraper{
    position: relative;
    margin-bottom: 1vw;
}

.user_name{
    display: block;
    float: left;
    margin-right: 1.1vw;
    margin-top: 0.1vw;
}

.login_link,
.register_link,
.logout_link,
.favorite_places_link {    
    display: inline;
    margin: 0 0.5vw;
}

.logout_button,
.favorite_places_button {
    background-color: PeachPuff;        
}


.main_page_links {
    background: #5466da;    
    color: #fff;    
}

.main_page_links,
.logout_button,
.favorite_places_button {
    border-radius: 3px;
    height: 3.1vh;
    padding: 0 1vw;
}