.login_page,
.registration_page{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: auto;
    background: #323B55;
}

/*
.login_page_wrapper {
    position: relative;
    width: 100%;
    height: 70hv;
}
*/


.login_box_wrapper,
.registration_box_wrapper,
.login_additional_items {
    position: absolute;    
    top: 12vh;
/*    height: 81hv;*/
/*    overflow: hidden;*/
}

.login_additional_items {
    height: 100hv;
}


.login_box_wrapper {
    width: 25%; 
    left: 15%;
    border-radius: 5%;    
    text-align: center;
}

.registration_box_wrapper{
    width: 25%; 
    left: 33%;
    padding: 2vw;
    text-align: center;
}

.login_box_wrapper h2,
.registration_box_wrapper h2 {
    color: #fff;
    font-size: 2.5vw;
}

.login_additional_items{    
    left: 60%;
}

#username_input,
#password_input,
#password_input2,
#submit_btn,
#registration_btn,
#home_link_btn,
#login_btn {
    width: 90%;
    height: 3vw;
    margin-bottom: 1vw;
    border-radius: 5px;
}

/*
#username_input,
#password_input,
#password_input2{
    font-size: 2vw;
}
*/

#username_input:focus,
#password_input:focus,
#password_input2:focus {
    border: 4px solid blue;    
}

#submit_btn:focus,
#registration_btn:focus,
#home_link_btn:focus,
#login_btn:focus {
    border: 2px solid blue;
}

#submit_btn,
#registration_btn,
#home_link_btn,
#login_btn {
    background: #5466da;
    height: 4vw;
    color: #fff;
    font-size: 1.4vw;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
}

#submit_btn:hover,
#registration_btn:hover,
#home_link_btn:hover,
#login_btn:hover {
    background: #d9ccc3;
    color: #292d39;
}

#home_link_btn {
    margin-top: 3vw;
    width: 15%;
    margin-left: 1vw;
    height: 2vw;
    font-size: 1vw;
}

#submit_btn {
    margin-top: 5vw;
}


.login_additional_items{
    margin-top: 3vw;
    text-align: center;
}

.no_account_wrapper {
    width: 21vw;
    height: 21vw;
    position: relative;
}

.no_account_img {
    width: 100%;    
}

.login_additional_items p {
    position: absolute;
    color: burlywood;
    font-size: 1.5vw;
    width: 100%;
    text-align: center;
    z-index: 2;
    bottom: 5.5vw;
}

#registration_btn {
    width: 20vw;
    margin-top: 9vw;
}

.have_account_wrapper p {
    color: #fff;
    font-size: 2vw;
}

.login_error_alert,
.registration_error_alert {
    position: relative;
    height: 1.5vw;
    color: red;
    font-size: 1.5vw;
    margin-bottom: 1vw;
}

.registration_error_alert p,
.login_error_alert p{
    position: absolute; 
}

.login_error_alert p:first-child{
    margin-left: 15%;
}

