#root {
    position: relative;
    height: 100%;
}

#map {    
    position: absolute;
    width: 100%;
    height: 690px;
    z-index: 1;
}

.marker,
.marker_selected {
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
}

.marker_selected {
    background: blue;
}



